{% extends "base.html" %}

{% block title %}Pages - Mediciones{% endblock %}

{% block contenido %}
<h1>Pages (Mediciones)</h1>

{% if mediciones %}
  <ul>
    {% for m in mediciones %}
      <li>
        <h3>{{ m.edificio }} - {{ m.equipo }}</h3>
        <p>{{ m.descripcion|striptags|truncatechars:100 }}</p>

        <a href="{% url 'page_detail' m.pk %}">Leer más</a>

        {% if user.is_authenticated %}
          | <a href="{% url 'actualizar_medicion' m.pk %}">Editar</a>
          | <a href="{% url 'eliminar_medicion' m.pk %}">Borrar</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No hay páginas aún.</p>
{% endif %}
{% endblock %}

