<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Proyecto Eficiencia{% endblock %}</title>
  </head>
  <body>
    <nav>
        <a href="{% url 'inicio' %}">Inicio</a> |
        <a href="{% url 'crear_medicion' %}">Nueva medición</a> |
        <a href="{% url 'listar_mediciones' %}">Ver mediciones</a> |
        <a href="{% url 'crear_usuario' %}">Nuevo usuario</a> |
        <a href="{% url 'crear_empleado' %}">Nuevo empleado</a>
    </nav>
<hr>
{% block contenido %}{% endblock %}

  </body>
</html>
